@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap');

:root {
    --primary-color: #a76625;
    --background-color: #d3b99b;
    --dark-color: #151515;
}

html {
    font-size: 62.5%;
    font-family: 'Poppins', sans-serif;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container {
    max-width: 120rem;
    margin: 0 auto;
}

.heading-1 {
    text-align: center;
    font-weight: 500;
    font-size: 3rem;
    margin: 15px;
}

.container-principal {
    background-color: var(--background-color);
}

.secundario {
    display: flex;
    justify-content: center;
}

.container-logo {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 0.5rem;
}

.container-logo img {
    width: 10%;
    justify-content: center;
    cursor: pointer;
}

.container-logo h1 a {
    text-decoration: none;
    color: #000;
    font-size: 3rem;
    text-transform: uppercase;
    letter-spacing: -1px;
}

/* ************* NAVBAR ************* */
.container-navb {
    background-color: var(--primary-color);
}

.nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem 0;
}

.menu {
    display: flex;
    gap: 5rem;
}

.menu li {
    list-style: none;
}

.menu a {
    text-decoration: none;
    font-size: 1.9rem;
    color: var(--dark-color);
    font-weight: 600;
    text-transform: uppercase;
    position: relative;
}

.menu a::after {
    content: '';
    width: 1.5rem;
    height: 1px;
    background-color: #c26767;
    position: absolute;
    bottom: -3px;
    left: 50%;
    transform: translate(-50%, 50%);
    opacity: 0;
    transition: all 0.3s ease;
}

.menu a:hover::after {
    opacity: 1;
}

.menu a:hover {
    color: #a66161;
}

.buscador-from {
    position: relative;
    display: flex;
    align-items: center;
    border: 1px solid #ba8787;
    border-radius: 2rem;
    height: 4.4rem;
    overflow: hidden;
}

.buscador-from input {
    outline: none;
    font-family: inherit;
    border: none;
    width: 25rem;
    font-size: 1.4rem;
    padding: 0 2rem;
    color: #000000;
    cursor: pointer;
}

.buscador-from input::-webkit-buscador-cancel-button {
    appearance: none;
}

.buscador-from .btn-search {
    border: none;
    background-color: var(--primary-color);
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
    padding: 1rem;
}

.btn-search i {
    font-size: 2rem;
    color: #fff;
}

/* ********************************** */
/*               BANNER               */
/* ********************************** */
.banner {
    height: 80rem;
    background-size: cover;
    background-position: center;
    display: flex;
    justify-content: center;
}

.content-banner {
    position: relative;
    width: 100%;
    height: 0;
    padding-bottom: 56.25%; /* Proporción 16:9 */
}
.content-banner iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}


/* ********************************** */
/*            MAIN CONTENT            */
/* ********************************** */
.main-content {
    background-color: var(--background-color);
    padding: 1.5rem 0;
}



/* ********************************** */
/*             CATEGORIES             */
/* ********************************** */

.top-categories {
    display: flex;
    flex-direction: column;
    gap: 2rem;
    margin-bottom: 3rem;
}

.container-categories {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 3rem;
}

.card-category {
    height: 20rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border-radius: 2rem;
    gap: 2rem;
}

.category-moca {
    background-image: linear-gradient(#00000080, #00000080),
        url('/img/moca-category.avif');
    background-size: cover;
    background-position: bottom;
    background-repeat: no-repeat;
}

.category-moca:hover {
    transition: all 0.3s ease;
    transform: scale(0.8);
    filter: brightness(1.5);
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.5);
}

.category-capuchino {
    background-image: linear-gradient(#00000080, #00000080),
        url('/img/capuchino-category.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.category-capuchino:hover {
    transition: all 0.3s ease;
    transform: scale(0.8);
    filter: brightness(1.5);
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.5);
}

.category-expreso {
    background-image: linear-gradient(#00000080, #00000080),
        url('/img/expreso-category.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.category-expreso:hover {
    transition: all 0.3s ease;
    transform: scale(0.8);
    filter: brightness(1.5);
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.5);
}

.card-category p {
    font-size: 2.5rem;
    color: #fff;
    text-transform: capitalize;
    position: relative;
}

.card-category p::after {
    content: '';
    width: 2.5rem;
    height: 2px;
    background-color: #fff;
    position: absolute;
    bottom: -1rem;
    left: 50%;
    transform: translate(-50%, 50%);
}

.card-category span {
    font-size: 1.6rem;
    color: #fff;
    cursor: pointer;
}

.card-category span:hover {
    color: var(--primary-color);
}

/* ********************************** */
/*            TOP PRODUCTS            */
/* ********************************** */
.top-products {
    display: flex;
    flex-direction: column;
    gap: 2rem;
    margin-bottom: 3rem;
}

.container-options {
    display: flex;
    justify-content: center;
    gap: 2rem;
    margin-bottom: 1rem;
}

.container-options span {
    color: #777;
    background-color: #fff;
    padding: 0.7rem 3rem;
    font-size: 1.4rem;
    text-transform: capitalize;
    border-radius: 2rem;
    cursor: pointer;
}

.container-options span:hover {
    background-color: var(--primary-color);
    color: #fff;
}

.container-options span.active {
    background-color: var(--primary-color);
    color: #fff;
}

/* Products */
.container-products {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(20rem, 1fr));
    gap: 3rem;
}

.card-product {
    background-color: #fff;
    padding: 2rem 3rem;
    border-radius: 0.5rem;
    cursor: pointer;
    box-shadow: 0 0 2px rgba(0, 0, 0, 0.1);
}

.card-product:hover {
    transition: all .2s ease;
    transform: scale(1.05);
    box-shadow: 5px 10px 15px rgba(0, 0, 0, 0.5);
}

.container-img {
    position: relative;
}

.container-img img {
    width: 100%;
}

.container-img .discount {
    position: absolute;
    left: 0;
    background-color: var(--primary-color);
    color: #fff;
    padding: 2px 1.2rem;
    border-radius: 1rem;
    font-size: 1.2rem;
    font-weight: 500;
}

.card-product:hover .discount {
    background-color: #310a0a;
}

.content-card-product {
    display: grid;
    justify-items: center;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: repeat(4, min-content);
    row-gap: 1rem;
}

.stars {
    grid-row: 1/2;
    grid-column: 1/-1;
}

.stars i {
    font-size: 1.3rem;
    color: var(--primary-color);
}

.content-card-product h3 {
    grid-row: 2/3;
    grid-column: 1/-1;
    font-weight: 400;
    font-size: 1.6rem;
    margin-bottom: 1rem;
    cursor: pointer;
}

.content-card-product h3:hover {
    color: var(--primary-color);
}


.content-card-product .price {
    justify-self: end;
    align-self: center;
    font-size: 1.7rem;
    font-weight: 600;
    background-color: rgb(185, 133, 97);
    padding: 5px;
    border-radius: 50px;
}

.content-card-product .price:hover {
    background-color: #ffe7cd;
}

.content-card-product .price span {
    font-size: 1.5rem;
    font-weight: 400;
    text-decoration: line-through;
    color: #5c5b5b;
    margin-left: 0.5rem;
}




/* ********************************** */
/*               GALLERY              */
/* ********************************** */
.gallery {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(2, 30rem);
    gap: 1.5rem;
    margin-bottom: 3rem;
}
.gallery img:hover {
    transition: all 0.3s ease;
    transform: scale(0.8);
    box-shadow: 5px 10px 15px rgba(0, 0, 0, 0.5);
}
.gallery img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.gallery-img-3 {
    grid-column: 2/4;
    grid-row: 1/3;
}

/* ********************************** */
/*              SPECIALS              */
/* ********************************** */
.specials {
    display: flex;
    flex-direction: column;
    gap: 2rem;
    margin-bottom: 3rem;
}

/* ********************************** */
/*                BLOGS               */
/* ********************************** */
.blogs {
    display: flex;
    flex-direction: column;
    gap: 2rem;
}

.container-blogs {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 3rem;
}

.card-blog {
    display: flex;
    flex-direction: column;
    gap: 2rem;
}

.card-blog .container-img {
    border-radius: 2rem;
    cursor: pointer;
    position: relative;
    overflow: hidden;
}

.button-group-blog {
    position: absolute;
    bottom: 1.5rem;
    right: -2.5rem;

    display: flex;
    gap: 0.7rem;
    z-index: -1;
    transition: all 0.3s ease;
}




.content-blog h3 {
    font-size: 1.8rem;
    margin-bottom: 1.7rem;
    color: var(--dark-color);
    font-weight: 500;
}

.content-blog h3:hover {
    color: var(--primary-color);
    cursor: pointer;
}

.content-blog p {
    margin-top: 1rem;
    font-size: 1.4rem;
    color: #777;
}

.content-blog span {
    color: var(--primary-color);
    font-size: 1.3rem;
}

.btn-read-more {
    padding: 1rem 3rem;
    background-color: var(--primary-color);
    color: #fff;
    text-transform: uppercase;
    font-size: 1.4rem;
    border-radius: 2rem;
    margin: 3rem 0 5rem;
    display: inline-block;
    cursor: pointer;
}

.btn-read-more:hover {
    background-color: var(--dark-color);

}

/* Estilos generales */
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

/* Estilo del botón del chat */
.chat-button {
    position: fixed;
    bottom: 20px;
    right: 20px;
    z-index: 9999;
    cursor: pointer;
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 50%;
    width: 60px;
    height: 60px;
    display: flex;
    align-items: center;
    justify-content: center;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.2);
    transition: background-color 0.3s ease;
}

.chat-button:hover {
    background-color: #0056b3;
}

.chat-button img {
    width: 30px;
    height: auto;
}

/*Estilo del contenedor del chat */
.chat-container {
    display: none;
    position: fixed;
    bottom: 90px;
    right: 20px;
    width: 400px;
    max-width: 90%;
    height: 500px;
    z-index: 9998;
    background-color: #fff;
    box-shadow: 0px 4px 10px rgba(232, 34, 34, 0.2);
    border-radius: 10px;
    overflow: hidden;
}

/* Estilo del iframe */
.chat-iframe {
    width: 100%;
    height: 100%;
    border: none;

}


/* ********************************** */
/*               FOOTER               */
/* ********************************** */

.footer {
    background-color: var(--primary-color);
}

.container-footer {
    display: flex;
    flex-direction: column;
    gap: 4rem;
    padding: 3rem;
}

.menu-footer {
    display: grid;
    grid-template-columns: repeat(3, 1fr) 30rem;
    gap: 3rem;
    justify-items: center;
}

.title-footer {
    font-weight: 600;
    font-size: 1.6rem;
    text-transform: uppercase;
}

.contact-info,
.information,
.my-account,
.newsletter {
    display: flex;
    flex-direction: column;
    gap: 2rem;
}

.contact-info ul,
.information ul,
.my-account ul {
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.contact-info ul li,
.information ul li,
.my-account ul li {
    list-style: none;
    color: #fff;
    font-size: 1.4rem;
    font-weight: 300;
}

.information ul li a,
.my-account ul li a {
    text-decoration: none;
    color: #fff;
    font-weight: 300;
}

.information ul li a:hover,
.my-account ul li a:hover {
    color: var(--dark-color);
}

.social-icons {
    display: flex;
    gap: 1.5rem;
}

.social-icons span {
    border-radius: 50%;
    width: 3rem;
    height: 3rem;

    display: flex;
    align-items: center;
    justify-content: center;
}

.social-icons span i {
    color: #fff;
    font-size: 1.2rem;
}

.facebook {
    background-color: #3b5998;
}

.twitter {
    background-color: #00acee;
}

.youtube {
    background-color: #c4302b;
}

.pinterest {
    background-color: #c8232c;
}

.instagram {
    background: linear-gradient(#405de6,
            #833ab4,
            #c13584,
            #e1306c,
            #fd1d1d,
            #f56040,
            #fcaf45);
}

.content p {
    font-size: 1.4rem;
    color: #fff;
    font-weight: 300;
}

.content input {
    outline: none;
    background: none;
    border: none;
    border-bottom: 2px solid #d2b495;
    cursor: pointer;
    padding: 0.5rem 0 1.2rem;
    color: var(--dark-color);
    display: block;
    margin-bottom: 3rem;
    margin-top: 2rem;
    width: 100%;
    font-family: inherit;
}

.content input::-webkit-input-placeholder {
    color: #eee;
}

.content button {
    border: none;
    background-color: #000;
    color: #fff;
    text-transform: uppercase;
    padding: 1rem 3rem;
    border-radius: 2rem;
    font-size: 1.4rem;
    font-family: inherit;
    cursor: pointer;
    font-weight: 600;
}

.content button:hover {
    background-color: var(--background-color);
    color: var(--primary-color);
}

.copyright {
    display: flex;
    justify-content: space-between;
    padding-top: 2rem;
    border-top: 1px solid #ff8000;
}

.copyright p {
    font-weight: 400;
    font-size: 1.6rem;
}

/* ********************************** */
/*       MEDIA QUERIES -- 768px       */
/* ********************************** */
@media (max-width: 768px) {
    html {
        font-size: 55%;
    }

    .hero {
        padding: 2rem;
    }

    .customer-support {
        display: none;
    }

    .content-shopping-cart {
        display: none;
    }

    .navbar {
        padding: 1rem 2rem;
    }

    .navbar .fa-bars {
        display: block;
        color: #fff;
        font-size: 3rem;
    }

    .menu {
        display: none;
    }

    .content-banner {
        max-width: 50rem;
        margin: 0 auto;
        padding: 25rem 0;
    }

    .container-features {
        grid-template-columns: repeat(2, 1fr);
        padding: 3rem 2rem;
    }

    .card-feature {
        padding: 2rem;
    }

    .heading-1 {
        font-size: 2.4rem;
    }

    .card-category {
        height: 12rem;
    }

    .card-category p {
        font-size: 2rem;
        text-align: center;
        line-height: 1;
    }

    .card-category span {
        font-size: 1.4rem;
    }

    .container-options {
        align-items: center;
    }

    .container-options span {
        text-align: center;
        padding: 1rem 2rem;
    }

    .container-products {
        grid-template-columns: repeat(auto-fit, minmax(28rem, 1fr));
    }

    .gallery {
        grid-template-rows: repeat(2, 15rem);
    }

    .container-blogs {
        overflow: hidden;
        grid-template-columns: 1fr 1fr;

        height: 52rem;
    }

    .menu-footer {
        grid-template-columns: repeat(2, 1fr);
    }

    .copyright {
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 1.5rem;
    }
}

/* ********************************** */
/*       MEDIA QUERIES -- 468px       */
/* ********************************** */
@media (max-width: 468px) {
    html {
        font-size: 42.5%;
    }

    .content-banner {
        max-width: 50rem;
        padding: 22rem 0;
    }

    .heading-1 {
        font-size: 2.8rem;
    }

    .card-feature {
        flex-direction: column;
        border-radius: 2rem;
    }

    .feature-content {
        align-items: center;
    }

    .feature-content p {
        font-size: 1.4rem;
        text-align: center;
    }

    .feature-content span {
        font-size: 1.6rem;
        text-align: center;
    }

    .container-options span {
        font-size: 1.8rem;
        padding: 1rem 1.5rem;
        font-weight: 500;
    }

    .container-products {
        grid-template-columns: repeat(auto-fit, minmax(25rem, 1fr));
        gap: 1rem;
    }

    .container-img .discount {
        font-size: 2rem;
    }

    .content-card-product h3 {
        font-size: 2.2rem;
    }

    .gallery {
        grid-template-rows: repeat(2, 20rem);
    }

    .blogs {
        padding: 2rem;
    }

    .container-blogs {
        grid-template-columns: 1fr;
        height: 75rem;
    }

    .content-blog h3 {
        font-size: 2.4rem;
    }

    .content-blog span {
        font-size: 1.8rem;
    }

    .content-blog p {
        font-size: 2.2rem;
    }

    .btn-read-more {
        font-size: 1.8rem;
    }

    .contact-info ul,
    .information ul,
    .my-account ul {
        display: none;
    }

    .contact-info {
        align-items: center;
    }

    .menu-footer {
        grid-template-columns: 1fr;
    }

    .content p {
        font-size: 1.6rem;
    }
}